<mat-card [ngClass]="{'text-center': !fullWidthMode}">
    <div class="p-5" [ngClass]="{'flex': fullWidthMode}">
        <img class="mx-auto" [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode}" src="https://placehold.co/150"/>
        <div class="w-full pt-3" [ngClass]="{'px-5 flex flex-col justify-between': fullWidthMode}">
            <h5>Shoes</h5>
            <p class="truncate hover:whitespace-normal">Sneakers</p>
            <p *ngIf="fullWidthMode">Description</p>
        </div>
        <div class="flex justify-between items-center">
            <span class="text-red-400 mr-5">{{ '150' | currency:'€' }}</span>
            <button (click)="onAddToCart()">
                <mat-icon class="text-grey-500">shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</mat-card>